table, th, td {
    border: 1px solid rgba(220, 228, 186, 0.904);
    border-collapse: collapse;
    margin-left: 150px;
    
  }
  th, td {
    padding: 20px;
    color: aqua;
    overflow-x: auto;
    
  }
  .sch h2{
	  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /**color:rgb(17, 47, 129);*/
    color: white;
	 font-size: 1rem; 
   margin-left: 150px;
  }
  .eve{
    margin-left: 150px;
	  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
	  font-size: 25px;

  }
.tables{
  display: flex;
  align-content: center;
}
.sch{
  width: 66%;
}

.imgs{
  width: 30%;
}

.imgs > img{
  width: 280px;
  margin-right: 1200px;
  
}

@media only screen and(max-width:1024px) {
  table{
    display: none;
  }
  
}


@media only screen and(max-width:860px) {
  /* th, td {
    padding: 10px;
    color: rgb(51, 255, 0);
    font-size: smaller;
    width: 50%;
    }

    table, th, td {
      border: 1px solid rgba(220, 228, 186, 0.904);
      border-collapse: collapse;
      margin-left: 50px;
      
    } */
    table{
      display: none;
    }
}